<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Sub-Models Editors</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Date">
        <cadmus-historical-date-editor
          [(date)]="date"
        ></cadmus-historical-date-editor>
        <div *ngIf="date">
          <pre>{{ date | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Person Name">
        <cadmus-person-name
          [model$]="personName$"
          [langEntries]="langEntries"
          [typeEntries]="namePartTypeEntries"
          (modelChange)="onPersonNameChange($event)"
        >
        </cadmus-person-name>
        <div *ngIf="lastPersonName">
          <pre>{{ lastPersonName | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="External IDs">
        <cadmus-external-ids
          [model$]="externalIds$"
          (modelChange)="onExternalIdsChange($event)"
        >
        </cadmus-external-ids>
        <div *ngIf="lastExternalIds">
          <pre>{{ lastExternalIds | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="References">
        <cadmus-doc-references
          [model$]="references$"
          (modelChange)="onReferencesChange($event)"
        ></cadmus-doc-references>
        <div *ngIf="lastReferences">
          <pre>{{ lastReferences | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Decorated IDs">
        <cadmus-decorated-ids
          (idsChange)="onIdsChange($event)"
        ></cadmus-decorated-ids>
        <div *ngIf="lastDecoratedIds">
          <pre>{{ lastDecoratedIds | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Decorated counts">
        <cadmus-decorated-counts
          [model$]="decoratedCounts$"
          (modelChange)="onDecoratedCountsChange($event)"
        >
        </cadmus-decorated-counts>
        <div *ngIf="lastDecoratedCounts">
          <pre>{{ lastDecoratedCounts | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Cited Person">
        <cadmus-cited-person
          [langEntries]="langEntries"
          [typeEntries]="namePartTypeEntries"
          (personChange)="onCitedPersonChange($event)"
        ></cadmus-cited-person>
        <div *ngIf="lastCitedPerson">
          <pre>{{ lastCitedPerson | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Chronotope">
        <cadmus-chronotope
          (chronotopeChange)="onChronotopeChange($event)"
        ></cadmus-chronotope>
        <div *ngIf="lastChronotope">
          <pre>{{ lastChronotope | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Dimension">
        <cadmus-physical-dimension
          [(dimension)]="dimension"
        ></cadmus-physical-dimension>
        <div *ngIf="dimension">
          <pre>{{ dimension | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Size">
        <cadmus-physical-size
          [unitEntries]="unitEntries"
          [(size)]="size"
        ></cadmus-physical-size>
        <div *ngIf="size">
          <pre>{{ size | json }}</pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
