<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Sub-Models Editors</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Date">
        <cadmus-historical-date-editor
          [(date)]="date"
        ></cadmus-historical-date-editor>
        <div *ngIf="date">
          <pre>{{ date | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Person Name">
        <itinera-person-name
          [langEntries]="langEntries"
          [typeEntries]="namePartTypeEntries"
          [name]="initialPersonName"
          (nameChange)="onPersonNameChange($event)"
        >
        </itinera-person-name>
        <div *ngIf="lastPersonName">
          <pre>{{ lastPersonName | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="External IDs">
        <cadmus-external-ids
          [ids]="initialExternalIds"
          (idsChange)="onExternalIdsChange($event)"
        >
        </cadmus-external-ids>
        <div *ngIf="lastExternalIds">
          <pre>{{ lastExternalIds | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="References">
        <cadmus-doc-references
          [references]="initialReferences"
          (referencesChange)="onReferencesChange($event)"
        ></cadmus-doc-references>
        <div *ngIf="lastReferences">
          <pre>{{ lastReferences | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Decorated IDs">
        <itinera-decorated-ids
          (idsChange)="onIdsChange($event)"
        ></itinera-decorated-ids>
        <div *ngIf="lastDecoratedIds">
          <pre>{{ lastDecoratedIds | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Decorated counts">
        <itinera-decorated-counts
          [model$]="decoratedCounts$"
          (modelChange)="onDecoratedCountsChange($event)"
        >
        </itinera-decorated-counts>
        <div *ngIf="lastDecoratedCounts">
          <pre>{{ lastDecoratedCounts | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Cited Person">
        <itinera-cited-person
          [langEntries]="langEntries"
          [nameTypeEntries]="namePartTypeEntries"
          [person]="initialCitedPerson"
          (personChange)="onCitedPersonChange($event)"
        ></itinera-cited-person>
        <div *ngIf="lastCitedPerson">
          <pre>{{ lastCitedPerson | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Chronotope">
        <itinera-chronotope
          (chronotopeChange)="onChronotopeChange($event)"
        ></itinera-chronotope>
        <div *ngIf="lastChronotope">
          <pre>{{ lastChronotope | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Dimension">
        <cadmus-physical-dimension
          [(dimension)]="dimension"
        ></cadmus-physical-dimension>
        <div *ngIf="dimension">
          <pre>{{ dimension | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Size">
        <cadmus-physical-size
          [unitEntries]="unitEntries"
          [(size)]="size"
        ></cadmus-physical-size>
        <div *ngIf="size">
          <pre>{{ size | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Notes Set">
        <itinera-note-set
          [set]="set"
          (noteChange)="onNoteChange($event)"
        ></itinera-note-set>
        <div *ngIf="lastNote">
          <pre>{{ lastNote | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Multi-select">
        <cadmus-multi-entry-selector
          [numbering]="true"
          [entries]="langEntries"
          [selectedIds]="selectedIds"
          (selectionChange)="onMultiSelectionChange($event)"
        ></cadmus-multi-entry-selector>
        <div *ngIf="selectedIds">
          <pre>{{ selectedIds | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Text/Entry">
        <itinera-text-or-entry-selector
          [free]="free.value"
          [id]="'eng'"
          [entries]="langEntries"
          [validators]="teValidators"
          (idChange)="onIdChange($event)"
        ></itinera-text-or-entry-selector>
        <mat-checkbox [formControl]="free">free</mat-checkbox>
        <div *ngIf="id">
          <pre>{{ id }}</pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
