<h2>Cadmus - {{ title }}</h2>
<div
  gdAreas="image text"
  gdGap="16px"
  gdRows="auto"
  gdAreas.lt-md="image | text"
  gdRows.lt-md="auto auto"
  gdAlignColumns="center"
>
  <div gdArea="image">
    <img src="./assets/img/cadmus-300.png" alt="Cadmus" />
  </div>
  <div gdArea="text">
    <p>Welcome to the Itinera project editing dashboard.</p>
    <p *ngIf="!logged">Please <a routerLink="/login">login</a> to start.</p>
  </div>

  <div>
    <cadmus-doc-references [model$]="model$" (modelChange)="onModelChange($event)"></cadmus-doc-references>
  </div>
</div>
